:root {
  --blue: #2196f3;
  --light-grey: #f5f4fa;
  --white: #ffffff;
  --light-black: #757575;
  --black: #212121;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
/*Index html style */

body {
  font-family: var(--primary-font);
  color: var(--black);
}

/*Header section style */

.header {
  font-family: var(--primary-font);
  margin-bottom: 80px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__name a span {
  color: var(--blue);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  align-items: center;
}
.header__navigation ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header__navigation a:hover {
  color: var(--blue);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: var(--black);
}

.header__navigation li {
  list-style: none;
}

.header__info a:hover:focus {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: var(--light-black);
}
.header__info:hover:focus {
  color: var(--blue);
}

.header__info {
  display: flex;
  gap: 40px;
  align-items: center;
}

/*Hero section style */

.hero-section {
  background-color: var(--black);
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-section__title h1 {
  font-family: var(--primary-font);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}
.button-blue {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
  background-color: var(--blue);
  margin-top: 30px;
  border-radius: 4px;
}
.button-blue:hover {
  background-color: transparent;
}

/*About section style */

.about-section {
  font-family: var(--primary-font);
  background-color: var(--white);
  margin-top: 94px;
}
.about-section .container {
  display: flex;
  margin-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.about-section ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.about-section__reguirements h5 {
  color: var(--black);
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.about-section__reguirements p {
  color: var(--light-black);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
}

/*What we do section style*/
.what-we-do {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.what-we-do.container h2 {
  display: flex;
  align-items: center;
}
.h2 {
  color: var(--black);
  display: flex;
  align-items: center;
}

/*Team section style*/

.team {
  background-color: var(--light-grey);
  font-family: var(--primary-font);
}
.team .container {
  display: flex;
}
.team h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}
.h5 {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.h5 .container {
  display: flex;
  align-items: center;
}
.p {
  color: var(--light-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*Footer section style*/

.footer-section {
  font-family: var(--primary-font);
  background-color: var(--black);
}
.footer-section a {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}
.footer-section span {
  color: var(--blue);
}
.footer-section__info {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--white);
}
.footer-section__info:hover {
  color: var(--blue);
}

/*Portfolio style*/

/*Header section style*/

.header-portfolio {
  font-family: var(--primary-font);
}
.header-portfolio__name a {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}
.header-portfolio__name span {
  color: var(--blue);
}
.header-portfolio__navigation a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: var(--black);
}

.header-portfolio__navigation li {
  list-style: none;
}
.header-portfolio__navigation a:hover {
  color: var(--blue);
}

.header-portfolio__navigation a:focus {
  color: var(--blue);
}
.header-portfolio__contacts a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: var(--light-black);
  text-decoration: none;
}
.header-portfolio__contacts a:hover {
  color: var(--blue);
}
.header-portfolio__contacts li {
  list-style: none;
}
/*Main section style*/

.main {
  font-family: var(--primary-font);
}
.main__service-area button {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: var(--black);
}
.main__service-area button:hover {
  color: var(--white);
  background-color: var(--blue);
}
.main__img-service {
  font-family: var(--primary-font);
}
.main__img-service h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: var(--black);
}
.main__img-service p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--light-black);
}

/*Footer section style*/
.portfolio-footer {
  font-family: var(--primary-font);
  background-color: var(--black);
}
.portfolio-footer a {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}
.portfolio-footer span {
  color: var(--blue);
}
.portfolio-footer__info {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--white);
}
.portfolio-footer__info:hover {
  color: var(--blue);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
